.container {
  text-align: center;
  margin-top: 23px;
}

body {
  background-color: lightcyan;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
}

.calculator {
  display: inline-block;
  margin-left: 50px;
  border: 3.5px solid lightseagreen;
  border-radius: 30px;
  padding: 10px;
  background-color: whitesmoke;
}

table {
  margin: auto;
}

input {
  font-size: 30px;
  width: auto;
  height: auto;
  border: 5px solid lightsteelblue;
  border-radius: 21px;
}

button {
  font-size: 40px;
  background: lightsteelblue;
  height: 90px;
  width: 90px;
  border-radius: 50px;
}